<h1>Churchill</h1>
<p>Winston Churchill was awarded The Nobel Prize in Literature in 1953. He is the only British Prime Minister to have won the Nobel Prize in Literature since its inception in 1901</p>

<%= image_tag "churchill.jpg" %>
