<h1>Lincoln</h1>
<p>He was the only president to have a patent: Lincoln invented a device to free steamboats that ran aground. Also, Lincoln’s cat ate at the White House dinner table.</p>

<%= image_tag "lincoln.jpg" %>
