<h1>Obama</h1>
<p>Barack Hussein Obama II is the first black president of the United States. Obama was born on Aug. 4, 1961, in Honolulu. His first name, Barack, means "blessed" in Swahili and was also his Kenyan father's name.</p>

<%= image_tag "obama.jpg" %>
